    #cwc-stats-mn-blc {
    	text-align: center;
    	font-family: 'Roboto',sans-serif;
    	color:#2e3641;
    }
    
    #cwc-stats-mn-blc .listNavContent {
        width: 30%;
        float: left;
        margin-left: 16px;
        border-radius: 10px;
        /*background: url("http://p.imgci.com/db/PICTURES/CMS/162400/162447.2.jpg");*/
        background-size: 100% 100%;
        background-repeat: no-repeat;
        margin-bottom: 16px;
    }
    #cwc-stats-mn-blc .listNavContent:nth-child(1) {
        /*background-color: rgba(201, 4, 4, 0.38);*/
    }
    #cwc-stats-mn-blc .listNavContent:nth-child(2){
        /*background-color: rgba(23, 193, 183, 0.58);*/
    }
    #cwc-stats-mn-blc .listNavContent:nth-child(3) {
        /*background-color:rgba(249, 182, 53, 0.38)*/
    }
    #cwc-stats-mn-blc .listNav{
        list-style-type: none;
    }
    #cwc-stats-mn-blc .listNavContent .listNav li:last-child a {
        border-bottom: 0;
        }
    #cwc-stats-mn-blc .listNavContent .title {
        font-weight: 700 !important;
        display: block !important;
        line-height: 1.6em !important;
        letter-spacing: 0.2px !important;
        margin-bottom: 0 !important;
        background: #0b5d95;
        color: #FFF !important;
        border-radius: 5px 5px 0 0 !important;
        padding: 10px !important;
        text-decoration: none !important;
        text-transform: uppercase !important;
        transition: all 0.2s linear !important;
        box-shadow: 0 2px 0px rgba(0, 0, 0, 0.1) !important;
    }
    #cwc-stats-mn-blc .listNavContent.batting .title {
        background: #c1d12b;
    }
    #cwc-stats-mn-blc .listNavContent .listNav li{
        /*background-color: #009587 !important;*/
        cursor: pointer;
        z-index: 100000000;
    }
    #cwc-stats-mn-blc .listNavContent .listNav a {
        display: block;
        color: #fff;
        text-decoration: none;
        line-height: 34px;
        padding: 0 10px;
        border-bottom: 1px solid #fff;
        position: relative;
        transition: all 0.2s linear;
    }

    #cwc-stats-mn-blc .listNavContent.batting .listNav a {
        border-bottom: 1px solid rgba(255, 255, 255, 0.22);
    }
    #cwc-stats-mn-blc .listNavContent.batting .listNav a:hover {
        opacity: 0.5 !important;
    }
    #cwc-stats-mn-blc .listNavContent .hover{
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1,1);
    transform: translateZ(0) scale(1,1);
    }
    #cwc-stats-mn-blc .listNavContent .hover:before{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        /*content: '';*/
        z-index: -1;
    }
    #cwc-stats-mn-blc .listNavContent .hover:before {
        content: '';
        background-color: inherit;
        -webkit-transition: 3s -webkit-transform cubic-bezier(.23,1,.32,1);
        transition: 3s transform cubic-bezier(.23,1,.32,1);
        opacity: .5;
        -webkit-transform: scale(2) translateX(-100%) translateY(-100%) translateZ(0) rotate(-45deg);
        transform: scale(2) translateX(-100%) translateY(-100%) translateZ(0) rotate(-45deg);
    }
    #cwc-stats-mn-blc .listNavContent .hover:hover:before {
        -webkit-transform: scale(2) rotate(-45deg) translateZ(0);
        transform: scale(2) rotate(-45deg) translateZ(0);
        -webkit-transition-duration: 1s;
        transition-duration: 1s;
    }
    
    #cwc-stats-mn-blc .listNavAll
    {
        float: left;
        width: 100%;
    }
    #cwc-stats-mn-blc .listNavReslt{
        float: left;
        width: 60%;
    }
    
    #cwc-stats-mn-blc .statsblock {
        text-decoration: none;
        padding: 0 0 8px 0;
        margin-bottom: 8px;
        zoom: 1;
        border-radius: 0;
        border-bottom: 1px solid rgba(235, 235, 235, 0.4);
        position: relative;
        display: block;
        color: white;
        margin-left: 40px;
}
    #cwc-stats-mn-blc .lstNavhdr{
    background-color: initial;
    position: relative;
    /*margin: 15px 0;*/
    }
    #cwc-stats-mn-blc .lstNavhdr h3{
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    float: left;
    line-height: 40px;
    padding: 0;
    background-color: transparent;
    margin-left: 40px;
    }
    #cwc-stats-mn-blc .statsblock .playerInfo {
        padding: 10px 110px 10px 100px;
        zoom: 1;
        /*position: relative;*/
    }
    
    #cwc-stats-mn-blc .statsblock .moreBtn {
        line-height: 35px;
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;
        color: #0077c8;
        background: #fff;
        font-weight: 800;
        transition: all 0.2s linear;
        padding: 0 10px;
        border-radius: 3px;
        position: absolute;
        top: 30px;
        right: 10px;
    }
    
    #cwc-stats-mn-blc .playerInfo .playerPhotoContainer {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100px;
        overflow: hidden;
    }
    #cwc-stats-mn-blc .statsblock .position{
        position: absolute;
        font-weight: 700;
        font-size: 1.1em;
        bottom: -4px;
        z-index: 10000000;
        left: 7px;
    }
    #cwc-stats-mn-blc .playerInfo .playerPhotoContainer:before{
        display: block;
    position: absolute;
    bottom: -17px;
    left: 0;
    right: 0;
    /* background: url('http://static3.icc-cricket.com/resources/img/21/elements/curve-off-white.png'); */
    height: 0px;
    background-color: rgba(253, 152, 0, 0.82);
    padding-top: 28%;
    content: '';
    z-index: 10000;
    -ms-transform: rotate(18deg);
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg);
    }
    
    #cwc-stats-mn-blc .statsblock .playerPhotoContainer .playerPhoto {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 75px;
        display: block;
    }
    #cwc-stats-mn-blc .statsblock .playerInfo .playerDetails {
    float: left;
    text-transform: uppercase;
    text-align: left;
    }
    #cwc-stats-mn-blc .statsblock .playerInfo .playerDetails .firstName {
    font-size: 1em;
    font-weight: 700;
    margin-top: 0;
    }
    #cwc-stats-mn-blc .statsblock .playerInfo .playerDetails .secondName {
    font-weight: 800;
    font-size: 2em;
    line-height: 1em;
    /*margin-bottom: 10px;*/
    }
    #cwc-stats-mn-blc .statsblock .playerInfo .playerDetails .nationality {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.8em;
    font-weight: 600;
    text-transform: uppercase;
    color: #c2c2c2;
    }
    #cwc-stats-mn-blc .statsblock .playerInfo .statDetails {
    /*float: right;*/
    }
    #cwc-stats-mn-blc .statsblock .playerInfo .statDetails .meta {
    font-size: 1em;
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
    }
    #cwc-stats-mn-blc .statsblock .playerInfo .statDetails .meta tr{
        line-height: 22px;
    }
    #cwc-stats-mn-blc .statsblock .playerInfo .statDetails .meta th{
    color: #c2c2c2;
    font-weight: 600;
    text-align: right;
    padding-left: 20px;
    }
    #cwc-stats-mn-blc .statsblock .playerInfo .statDetails .meta td{
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 5px;
}
    #cwc-stats-mn-blc .statsblock .playerInfo .statDetails .count {
    text-align: right;
    font-weight: 800;
    font-size: 3.45em;
    display: block;
    line-height: 1.2em;
    margin-right: -200px;
    display: inline-block;
    line-height: 72px;
    vertical-align: middle;
    }
    /*//////////////////////////////*/
    #cwc-stats-mn-blc .white-filler{
        height : 0px !important;
    }
    #cwc-stats-mn-blc .attr-val{
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        text-align: left;
        margin-bottom: 0;
        vertical-align: middle;
        background-color: #FFF;
        border: 1px solid rgba(0,0,0,.15);
        -webkit-transition: border linear .2s,box-shadow linear .2s;
        -moz-transition: border linear .2s,box-shadow linear .2s;
        -o-transition: border linear .2s,box-shadow linear .2s;
        transition: border linear .2s,box-shadow linear .2s;
        padding: 4px 6px;
        line-height: 20px;
        color: #555;
    }
    #cwc-stats-mn-blc #head{
    	text-align: center;
    	margin : 4px 0px;
    }
    #cwc-stats-mn-blc #logo{
    	display: inline-block;
        margin-right: 16px;
    }
    #cwc-stats-mn-blc #logo img{
    	height : 40px;
    	width : 40px;
    }
    #cwc-stats-mn-blc .btn {
		display: inline-block;
		padding: 4px 16px;
		margin-bottom: 0;
		line-height: 20px;
		text-align: center;
		vertical-align: middle;
		cursor: pointer;
		color: #1fbba6;
		border: 1px solid #1fbba6;
		letter-spacing: .05em;
		background: transparent;
	}
        #cwc-stats-mn-blc #cwc-popup-cls, #cwc-stats-mn-blc #cwc-alrt-cls{
            float:right;
            cursor: pointer;
        }
        #cwc-stats-mn-blc #cwc-popup, #cwc-stats-mn-blc #cwc-alrt{
            position: absolute;
            top: 25%;
            left: 33%;
            opacity: 1;
            border: 1px solid rgba(0,0,0,.4);
            background: rgba(255, 255, 255, 1);
        }
        #cwc-stats-mn-blc #cwc-popup-hd{
            background: rgba(0,0,0,0.1);
            margin: 0px;
            padding: 6px 6px 24px;
        }
        #cwc-stats-mn-blc #cwc-popup div, #cwc-subs-mn-blc #cwc-alrt div{
            clear : both;
            margin-bottom: 16px;
        }
        #cwc-stats-mn-blc #cwc-invf-cnf{
            vertical-align: text-top;
        }
        #cwc-stats-mn-blc #cwc-subs-invf{
            display: block;
            margin: 8px auto;
        }
        #cwc-stats-mn-blc .hideElement{
            display: none;
        }
        #cwc-stats-mn-blc .scs{
            color:#1fbba6;
            font-size:1em;
        }
        #cwc-stats-mn-blc .err{
           color:#e3000f; 
          
        }
        #cwc-stats-mn-blc .btn.err{
          border-color:#e3000f;
        }
        #cwc-stats-mn-blc #cwc-vfy-blk{
            margin:8px;
        }
        #cwc-subs-mn-blc #cwc-subinv-blk{
            margin: 8px;
        }
        #cwc-stats-mn-blc #cwc-bnr{
            margin-top:24px;
            width:100%;
        }
        #bg-wrap:before {
            content: "";
            top: -150px;
            left: 0;
            bottom: -100px;
            right: 0;
            position: absolute;
            z-index: -1;
            /*background: url("http://icc-live.s3.amazonaws.com/cms/media/images/1200x800/66269.jpg");*/
            /*background: url("http://static1.squarespace.com/static/544e5abde4b03c7c30b60aee/t/544ec39ae4b0e29dac8a4bed/1414448035924/splash-home.png?format=1500w");*/
            background: url("https://d3egmynekukbig.cloudfront.net/assets/hero-2-4833f5f42e9e0fc636dc807066aed007.jpg");
            /*background: url("https://saddahaq.blob.core.windows.net/multimedia/cwc-background.jpg   ");*/
            /*background: url("http://static3.icc-cricket.com/resources/img/21/elements/shard-bg.jpg");*/
            background-size: 100% 100%;
            background-repeat: no-repeat;
            /*-webkit-filter: blur(8px);*/
          }
          #twitter-widget-0{
              vertical-align: -webkit-baseline-middle;
              margin: 0 4px;
          }
          .fb-share-button{
              vertical-align: text-top;
              margin: 0 8px;
          }
          .white-filler {
           height: 0px !important;
          }